{% extends 'layout.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
{% for message in messages %}
	{% if "success" in message.tags %}
	    <span style="color: green; top: 10%;">{{ message }}</span>
	{% else %}
	    <span style="color: red; top: 10%;">{{ message }}</span>
	{% endif %}
    {% endfor %}	
    <h1>Home</h1>

    {% if user.is_authenticated %}
    <p>Welcome 😊, {{ user.username }}! 
	{% if user_profile %}
	{{user_profile.phone_number}}</p><br>
    paid:{{user_profile.wallet.amount_paid}}<br>
    balance:{{user_profile.wallet.balance}}<br>
    	{% else %}
		<h4>(null)</h4>
    	{% endif %}
    {% else %}
	<p>Welcome, new user!</p>
    {% endif %}
    
    <a href="{% url 'logout' %}">Logout</a>
    <br>
    <a href="{% url 'payment' %}">Payment</a>
{% endblock %}
