{% extends 'layout.html' %}
{% load static %}
{% block links %}
	
      <link rel='stylesheet' href="{% static 'styles/login.css '%}">
      

{% endblock %}
{% block body %}
    <h1>login</h1>
    <div id="auth_login"></div>
	{% for message in messages %}
		{% if "success" in message.tags %}
        		<span style="color: green; top: 10%;">{{ message }}</span>
    		{% else %}
        		<span style="color: red; top: 10%;">{{ message }}</span>		
		{% endif %}

        {% endfor %}
	<form  method="post" action="{% url 'login' %}?next={{ request.GET.next }}" >
		{% csrf_token %}
		{{ form.as_p }}
	<input type="submit" value="login" >
    </form>
    <a href="{% url 'register' %}">register</a>
{% endblock %}
