/* Code by: [permo] */

/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,700,900');
body{
	color: black;
	background-color: #f2f2f2;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}
